*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    div {
      padding: 10px;
      background: #eef;
      margin-bottom: 20px;
    }

    div p {
      color: black;
    }

    div > p {
      font-weight: bold;
    }

    p::first-letter {
      font-size: 24px;
      color: red;
    }

    p::first-line {
      text-transform: uppercase;
    }

    p::selection {
      background: yellow;
      color: black;
    }

    .list-items li:first-child {
      color: green;
    }

    .list-items li:last-child {
      color: red;
    }

    .list-items li:nth-child(3) {
      font-weight: bold;
    }

    .list-items li:nth-last-child(3) {
      font-style: italic;
    }